.attenzione {
    // min-height: 136px;
    background: url(../img/ok.png) no-repeat;
    background-position: center 70%;
    position: relative;
    &__title {
        padding: 16px 84px 15px 78px;
        background: $color-blue;
        text-align: center;
        color: $color-white;
        line-height: 16px;
    }
    &__text {
        padding: 16px 16px 24px 16px;
        text-align: center;
        line-height: 16px;
    }
    .p {
        padding-bottom: 20px;
    }
}
