.delivery {
       &__bg {
        min-height: 136px;
        background: url(../img/bg.jpg) no-repeat center;
        position: relative;
        // width: 319px;
        // height: 166px;
        // max-width: 100%;
        // max-height: 100%;
        // object-fit: cover;
        // margin: 0 auto;
    }
    &__bg2 {
        min-height: 136px;
        background: url(../img/bg3.jpg) no-repeat center;
        position: relative;
    }
    &__footer {
        background: $color-orange;
    }
    &__info {
        display: flex;
        align-items: center;
        padding: 0 16px 0 16px;
        justify-content: center;
    }
    &__text {
        color: $color-white;
        line-height: 14px;
    }
}