.forms {
    overflow: hidden;
    padding: 16px 18px 19px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    .form  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   

    &__text {
        @include bold;
        color: $color-red;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
    }
    &__input {
        margin: 16px 0 16px 0;
    }
    &__title {
        color: $color-red;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 19px;
        line-height: 16px;

        
    }
    .input {
        width: 284px;
        height: 32px;
        background: $color-input;
        border-radius: 89px;
        padding-left: 16px;
    }
    
}
