.header {
    &__innerGreen {
        width: 100%;
        height: 19px;
        background: $color-green;
    }
    &__title {
        @include bold;
        color: $color-red;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        text-transform: uppercase;
    }
    &__subtitle {
        @include reg;
        color: $color-red;
        font-size: 26px;
        text-align: center;
        padding-bottom: 5px;
    }
    &__innerRed {
        width: 100%;
        height: 19px;
        background: $color-flag;
    }
  
}
