.slider {
    margin: 0 auto;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        &__item {
            display: none;
            margin: 15px;
            opacity: .2;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px 26px 37px 26px;
        // background-color: #fff;
        // max-width: 503px;
        // margin: 0 auto;
    }
    &__title {
        line-height: 16px;
    }

}

.swiper {
    &__img {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.image-slider {
    bottom: 0;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    line-height: 20px;
    font-size: 15px;
    background-color: #e5e5e5;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    color: #e5e5e5;
    background: #0c93a4;
    border: 4px solid;
}
